    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
    
    <link rel="icon" type="image/png"  href="{% static 'passmjrapp/images/logo.png' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'passmjrapp/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'passmjrapp/css/sortable-tables.min.css' %}">
